@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 80px;
    width: 100%;

    nav {
        height: 100%;

        ul {
            height: 100%;
            @include flex;
            justify-content: space-between;
            padding: 0 5% 0 3%;

            li {
                height: 100%;
                @include flex;
                list-style-type: none;
                transition: transform ease-in-out 0.2s;

                &:nth-child(2) {
                    font-size: 16px;
                    font-weight: 700;
                    color: #110E47;
                }

                &:hover,
                &:active {
                    transform: scale(1.09);
                }
            }
        }
    }
}